body {
  background-color: rgb(241, 208, 163);
  font-family: "Righteous";
  margin: 0;
}

.header {
  padding: 150px;
  font-size: 72px;
  text-align: center;
  color: white;
  height: 400px;
  width: 100%;
  background-color: rgb(17, 26, 66);  
  margin-bottom: 40px;
}

.topic {
  font-size: 48px;
  width: 300px;
}

.add_btn {
  transition: 0.4s;
  background-color: grey;
  border: 2px solid greenyellow;
}

.add_btn:hover {
  background-color: rgb(53, 117, 40)
}

.clear_btn {
  background-color: red;
  border: 2px solid orange;
}

.content {
  padding: 50px;
  height: 500px;
  max-width: 80%;
  margin: 0 auto;
  background-color: orange;
  border-radius: 20px;
  overflow: auto;
}

.form {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-txt {
  font-size: 20px;
  padding: 10px;
  width: 200px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 10px;
}

.btn {
  font-size: 28px;
  height: 100px;
  width: 200px;
  border-radius: 10%;
  padding: 16px;
  color: white;
}

.form-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin: 10px;
  padding: 10px;
}

.renGPA {
  font-size: 72px;
  margin: 20px;
}

.btn-1 {
  background-color: rgb(40, 138, 141)
}

.btn-2 {
  background-color: rgb(99, 129, 42)
}

.btn-3 {
  background-color: rgb(155, 22, 22);
}

select {
  width: 150px;
  height: 35px; 
}

.aside {
  display: flex;
  align-items: center; 
}

/* ---------- CourseCard ------------ */

.del_btn {
  height: 32px;
  width: 32px;
  font-size: 20px;
  color: white;
  background-color: red;
  border: 3px solid orange;
  border-radius: 50%;
}

.information {
  font-size: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
